/* App */


.app-wrapper{
    width: 100%
}

/* Header */

.header-container{
    width: 105%;
    background: rgb(180, 180, 199);
    margin-top: -6pt;
    margin-left: -6pt;
    height: 90pt;
    position: relative;
}
.link-container{
    display: flex;
    position: absolute;
    bottom: -1pt;
    width: 80%;

}
.links{
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    
}

.name{
    font-size: 15pt;
    text-align: center; 
}

/* Quiz */

.question-container{
    width: 101%;
    margin: auto;
}

.question-card{
    text-align: center; 
    position: relative;
}
.question{
    font-size: 18pt;
    line-height: 30pt;
    padding: 5pt;
    width: 80%;
    height: 80pt;
    text-align: center;
}
.answer{
    padding: 5pt;
    border-radius: 5pt;
    border-style: solid;
    width: 80%;
    margin-top: 6pt;
    height: auto;
    min-height: 20pt;
}
.answer:hover{
    background: white;
    transition: 0.2s
}
.selectedtrue {
    background: green;
}
.selectedfalse {
    background: red;
}
.fun-fact{
    position: absolute;
    width: 100%;
    height: 220pt;
    background: green;
    bottom: -220pt;
    transition: 0.3s;
    z-index: 10;
}
.answered-true{
    -webkit-transform: translatey(-100%); 
    -moz-transform: translatey(-100%); 
    -ms-transform: translatey(-100%); 
    -o-transform: translatey(-100%); 
    transform: translatey(-100%); 
    transition: 0.3s;
}
.button-container{
        background: mintcream;
        position: relative;
        z-index: 99;
        margin-left: -1%;
        width: 102%;
        height: 300pt;
        text-align: center
}


/* New Player */

.enter-name{
    width: 90%; 
    text-align: center;
    font-size: 20pt;
    padding: 10pt;
    line-height: 30pt

}

input{
    height: 100%;
    padding: 3px 5px;
    line-height: 16px;
    border-style: solid
}

.button{
    border-style: solid;
    border-color: black;
    height: 20pt;
    margin-top: 10pt;
    border-radius: 3pt;
    text-align: center;

}

/* SelectQuiz */

.category-wrapper{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    margin-top: 4pt;
}

.category{
    display: block;
    text-align: center;
    height: 30pt;
    text-decoration: none;
    margin-top: 4pt
}

/* Waiting Room */

.waiting-room{

    width:100%;
    text-align: center;
    height: 16pt;

   
    margin-top: 20pt;
    font-size: 14pt
}
.waiting-room-button{
    margin-top: 10pt 
}


/* timer; the style for the bar is coded in to the timer.js  */

.timer-container{
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 100%;
    z-index: 1;
}

